 *{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
     
 }  
  
header
 { 
      width:100%;
    border-bottom: 1px solid; 
    margin: 0;
  } 

.font-open-sans 
 {
  font-family: open-sans; 
}   

.nevbar
{
    width: 1140px;
    height: 92px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:  16px 120px;
}  
.logo {
    width: 139px;
    height: 60px;
    border: 120px 16pc 24px;
}  


.menu
    {
    display: flex;
    list-style-type: none;
    gap:51px; 
    align-items: center;
    } 

li
    {
       list-style-type: none; 
    }

 nav .btn {
    width: 164px;
    height: 44px;
    list-style-type: none;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:none;
    padding: 12px 16px;
    border-radius: 10px;
font-size: 15px;
font-weight: bold;
color: white;
cursor: pointer;
 }
 
 #about{
 background-image: url(../assets/hero-bg.png);
 padding-top: 130px;
 width:100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
}
 #about .about-content
 {
     width:60%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color:none;
    padding: 131px 156px;
 }

  #about .about-content .early
 {
    padding:8px 12px ;
    border-radius: 20px;
    background-color:white;
    color: #30b868;
    font-weight: 700;
 }
 #about .about-content .txt1
 {
  color:white;
    font-size: 50px;
    

 }

 #about .about-content .txt2
 {
  color:green;
  font-size: 50px;
  
 }
 #about .about-content p
 {
    /* width: 1360px;
    height: 60px; */
  color:white;
 }
 
 section .btn{
    padding:16px 12px ;
    border-radius: 5px;
    background-color:green;
    color:white ; 
   
 }

 section .btn1{
    padding:16px 12px ;
    border-radius: 5px;
    background-color:white;
    color:green ;
    
 }



